/BgLoad.class
/Choice.class
/ClearText.class
/Delay.class
/Fi.class
/GSetVar.class
/GoTo.class
/If.class
/Jump.class
/Label.class
/Music.class
/Random.class
/SetImg.class
/SetVar.class
/Sound.class
/Text.class
/VNDSCommand.class
